/* footer__section */
.footer__section{
    position: relative;
    margin-top: 170.42px;
    height: fit-content;
    padding-top: 140px;
    background-color: var(--accent-color);
    .footer__info{
        margin-top: 25px;
    }
    .footer__icons{
        margin-top: 35px;
        gap: 14px;
        
        ion-icon{
            font-size: 1.4rem;
            padding: 10px;
            cursor: pointer;
        }
        #twitter,#instagram,#github{
            background-color: var(--secondary-color);
            border: 1px solid var(--primary-text-color);
            color: var(--body-color
            );
        }
        #facebook{
            background-color: var(--body-color);
            color: var(--secondary-color);
        }
    }
    .horizontal-line{
        width: 100%;
        margin-top: 50px;
    }
    .sub-footer{
        /* background-color: cadetblue; */
        margin-top: 25px;
        margin-bottom: 88px;
        .sub-footer__icons{
            img{
                padding: 15px 20px;
                background-color:var(--secondary-color);
                border-radius: 5.38px;
            }
        }
        .sub-footer__icons img:nth-child(2){
            padding: 13px 20px;
        }
        .sub-footer__icons img:nth-child(3){
            padding: 16px 20px;
        }
    }
    .footer__link__section{
        p{
            font-size: 16px;
            font-weight: 500px;
            color: var(--body-color);
            letter-spacing: 3px;
        }
    }
    .footer__links {
        margin-top: 26px; 
        gap: 23px;

        a{
            text-decoration: none;
            cursor: pointer;
            font-size: 16px;
            font-weight: 400px;
            color: var(--primary-text-color);
        }
        
    }
}

