/* navbar-section */
.fm-navbar{
    height: 97px;
    flex-direction: row;
    position: relative;
    background: transparent;
}
.nav__links{
    gap: 24px;
    font-size: 16px;
    font-weight: 400;
    justify-content: space-around;
    .dropdown a{
     background:transparent !important;
     border: none;
     color: var(--body-color);
     padding: 0;
    }
    
}
li{
    list-style: none;
    color: var(--body-color);
}
li a{
    text-decoration: none;
    color: var(--body-color);
    cursor: pointer;
}
.nav__searchbox{
    background-color: var(--accent-color);
    height: 48px;
    width: 577px !important;
    gap: 5px;
    padding: 1.5rem;
    border-radius: 2rem;
    margin-left: 40px !important;
    justify-content: space-between;
    .nav__search_icon{
        font-size: 1.8rem;
        color: var(--primary-text-color);
    }
    input{
        height: 48px;
        width: 500px;
        border: none;
        outline: none;
        font-size: 16px;
        background: transparent;
    }
}
.nav__icons{
    gap: 14px;
    font-size: 30px;
    color: var(--body-color);
    cursor: pointer;
    margin-left: 40px;
}
.nav__search{
    display: none;
    cursor: pointer;
}
.toggle-btn{
    display: none;
    font-size: 1.5rem;
    color: var(--body-color);
    font-weight: 700;
    font-size: 2.5rem;
    height: 80px;
}